.board, th, td {
   border: 1px solid black;
}

td {
  width: 60px;
  height: 60px;
}

.fighter-1 {
  background: url("images/ryu.png");
  background-size: cover;
}

.fighter-2 {
  background: url("images/jayda.png");
  background-size: 100%;
}
