body {
  background: url("images/sky.png")
}

.board, th, td {
   float: center;
   border: 1px solid black;
}

td {
  width: 60px;
  height: 60px;
  background-color: white;
}

.fighter1 {
  background: url("images/ryu.png");
  background-size: 100% 100%;
}

.fighter2 {
  background-image: url("images/jayda.gif");
  /*background: url("images/ken.png");*/
  background-size: 100% 100%;
}

.laser {
  background-color: red;
}
