<div class="container">
  <h1>Join The Ninja's!</h1>
  <p>Also, Hello, world!</p>

  <form action="/users/new" method="POST">
    <input type="text" name="user[username]" placeholder="username">
    <input type="text" name="user[email]" placeholder="EMAIL">
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Register Now!">
  </form>
</div>
