<div class="container">
  <h1>Welcome <%= @user.username %>!</h1>
  <p>Also, Hello, world!</p>

  <h2>User Stats</h2>
  <table>
    <tr>
      <td>Current Email: <%= @user.email %></td>
    </tr>
  </table>

  <div>
  </div>

  <table>
</table>
</div>
