<table class='player-1-moves'>
  <h3>player 1<h3>
  <tr><button type="button" class = "fighter1-moveLeft">Move Left</button></tr>
  <tr><button type="button" class = "fighter1-moveRight">Move Right</button></tr>
  <tr><button type="button" class = "fighter1-laser">Laser</button></tr>
</table>

<table class='player-2-moves'>
  <h3>player 2<h3>
  <tr><button type="button" class = "fighter2-moveLeft">Move Left</button></tr>
  <tr><button type="button" class = "fighter2-moveRight">Move Right</button></tr>
  <tr><button type="button" class = "fighter2-laser">Laser</button></tr>
</table>
