<table class='player-1-moves'>
  <h3>player 1</h3>
  <tr><button type="button" class = "p1-move-left">Move Left</button></tr>
  <tr><button type="button" class = "p1-move-right">Move Right</button></tr>
  <tr><button type="button" class = "p1-laser">Laser</button></tr>
</table>

<table class='player-2-moves'>
  <h3>player 2</h3>
  <tr><button type="button" class = "p2-move-left">Move Left</button></tr>
  <tr><button type="button" class = "p2-move-right">Move Right</button></tr>
  <tr><button type="button" class = "p2-laser">Laser</button></tr>
</table>


