<div class="container">
  <h1>Welcome to Chess Board Ninja!</h1>
  <p>Hello, world!</p>

  <table>
    <tr>
      <td><a href="/login">Login!</a></td>
    </tr>
    <tr>
      <td><a href="/users/new">Create A New Player!</a></td>
    </tr>

    <tr>
      <td><a href="/games">Play As A Guest!</a></td>
    </tr>
  </table>
</div>
