<form action='/login' method="POST">
  <label>Player 1 Login</label>
  <input type="text" name="user1name" placeholder="Username">
  <input type="password" name="user1pword" placeholder="Password">

  <label>Player 2 Login</label>
  <input type="text" name="user2name" placeholder="Username">
  <input type="password" name="user2pword" placeholder="Password">

  <input type="submit" value="Fight!">
</form>
